body{
    background-color: #f5f5f5;
}

.container {
    width:100vw;
    height:100vh;
    position:relative
}

.menubar{
    width:20vw;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color: red;
    padding-left:20px;
    padding-right:20px;
}

.thumbnail{
    width:80vw;
    height:100%;
    position:absolute;
    top:0px;
    left:25vw;
    background-color: transparent;
    overflow: hidden;
}

.button {
    top:50%;
    position:absolute;
}

img {
    width:100%;
    height:auto;
}


h1{
    font-size: 30px;
    line-height:1.2;
    /* line-height:1.25; */
    color: #020202;
    font-family:'Nixie-One', 'American Typewriter', serif;
    margin:0px;
    font-weight:lighter;
    position:absolute;

}

h3{
    font-size: 18px;
    font-family:'Nixie-One', 'American Typewriter', serif;
    font-weight:lighter;
    position:absolute;
    line-height:1.5;
}

p {
    font-family:'IBMPlexSans-Regular', sans-serif;
    font-size: 12px;  
    position:absolute;

}

.title{
    top:10vh;
}

.explain {
    top:30vh;
    padding-right:20px;
}

.headermenu {
    top:50vh;
    position:absolute;
}